@{
    ViewData["Title"] = "News Rss feed";
    var AllSortBy = new List<SelectListItem>() {
        new SelectListItem{ Text = "Date", Value = "1", Selected=true },
        new SelectListItem{ Text = "Heading", Value = "0" }
        };

    var AllSortAscDescBy = new List<SelectListItem>() {
        new SelectListItem{ Text = "Desc", Value = true.ToString(), Selected=true },
        new SelectListItem{ Text = "Asc", Value = false.ToString() }
    };
}
@model ReadRssFeedNewsListViewModel
<div class="container">
    <div class="row">
        <form class="search_forms" method="get" action="~/ReadRssFeedNews/FeedNews">
            <input type="text" id="rssFeedUrl" name="rssFeedUrl" placeholder="Enter RSS Feed News Url...." style="height: 40px;width:600px;">
            <button class="btn btn-primary btn-small btnfeednews" type="submit" data-redirectUrl="/ReadRssFeedNews/NewsItems">Feed News</button>
        </form>
    </div>
</div>

<div id="news-items"></div>

@*<section>
    <div class="container">
        <div class="row float-right">
            <form class="search_forms" method="get" action="~/ReadRssFeedNews/Index">
                <div class="span10" style="text-align: right; width: 100%;">
                    <span style="margin:15px;">Sort: </span> @Html.DropDownListFor(x => x.SortBy, AllSortBy, new { placeholder = "Search ...", @class = "input-medium ddlSortBy" })
                    @Html.DropDownListFor(x => x.Desc, AllSortAscDescBy, new { placeholder = "Search ...", @class = "input-medium ddlDesc" })                  
                </div>
            </form>
        </div>
    </div>
</section>
<br />

@if (Model != null && Model.RssFeedList.Count() > 0)
{
    <div class="about-us container">
        <div class="row">
            <div class="span10 offset1 ">
                @foreach (var rssNews in Model.RssFeedList)
                {
                    <h4><a href="~/ReadRssFeedNews/ReadNewsDetails/@rssNews.Id">@rssNews.Title</a></h4>
                    <p>Published On: @rssNews.PublishingDate</p>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <p>Not a valid RSS feed News Url</p>
        </div>
    </div>
}*@